@import url(main.css);
@import url(fonts.css);
/* Header */
header {
  background-color: #d8dce4;
}
body{
  position: absolute;

}
/* Fim */
/*  */

#ul-header a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

/*  */
/* Div cabecalho */
.div-cabecalho {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  margin-left: 2vh;
  width: 1500px;

}
/* Fim */

/* Imagem Header */
#container header .image {
  width: 9.5vw;
  position: relative;
  margin-right: 19vw;
  margin-left: -0.73vw;
}
/* fim */
#img-cabecalho {
  width: 8.2vw;
  margin-top: -10vh;
  margin-left: -20.8vh;
}

/* Nav ul do header */
#ul-header {
  width: 38vw;
  display: flex;
  justify-content: space-around;
  margin-top: -8.5vh;
  list-style: none;
  font-weight: 550;
  margin-left: -1vw;
}
/* Fim */
/* Para estudantes : borda para opção de navegação */
#para-estudantes {
  border-radius: 4px;
  background-color: #10344c;
  color: #ffffff;
  padding: 14px 18px;
}
/* Fim */
/* Letras navegação nav */
.nav-navegacao {
  color: #947611;
}
/* Foto-keeper */
#photo-keeper {
  background-image: url(https://lh3.googleusercontent.com/pw/AM-JKLW9r4nbrlXR7tvJQm-rhDbcdRXbeFYwsv26zOcGx_YCi67HQPg-9i6mbdRmmuh2H7hiGXcy8roxBAUU_A86PjrJwitAevjTwa9PantZJa6tBcKi7v3vZUCkB3R4ayXzThSDKmoI09my6P0Gbj9C-8Df=w1273-h627-no?authuser=0);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Fim */
/* Container subHead */
#container-sub-head {
  display: flex;
  justify-content: space-between;
  margin: 0px 4vw;
  width: 90%;
  left: -30px;
  position: relative;
}
/* Fim */
/* TITULO h1 pagina */
#titulo-sub-head {
  color: #3f4246;
  text-transform: uppercase;
  font-size: 2.2em;
  font-weight: bold;
  font-family: sans-serif;
  width: 46vw;
  margin-top: 60px;
  text-align: center;
  word-spacing: -0.5vw;
}
/* Fim */
/* Imagem sub head  LIVROS*/
#img-livros {
  width: 42.5vw;
  position: relative;

  left: -0.7vw;
}
/* Fim */
/* divheader1 */

/* Paragrafo-sub-head */
.paragrafo-sub {
  width: 50vw;
  font-size: 20px;
  margin: 2rem auto;
  text-align: center;
  position: relative;
  top: -15px;
  word-spacing: 0.4vw;
  color: #6f8fa1;
  font-family: "Inter", sans-serif;
  
}
/* Fim */
/* botões acesso google play e appstore */
#imagheader {
  left: 0vw;
  position: relative;
  display: flex;
  justify-content: center;
}
/* Fim */
/* button customização */
#btn-veja {
  border-radius: 6px;
  font-size: 15px;
  background-color: white;
  margin-left: 8vw;
  padding: 13px 13px 13px 5px;
  width: 150px;
  color: #006296;
  border: #006296 solid 1px;
  font-weight: bold;
}
/* Fim */
/* Botão div  posicionar */
#div-button {
  position: relative;
  left: 35vw;
  top: 30vh;
}
/* Fim */
/* quem somos - inicio */
#div-parte2 {
  margin-top: 50vh;
  display: flex;

}
/* Fim*/
/* titulo quem somos */
#titulo-quem-somos {
  color: #475c75;
  text-align: left;
  margin: auto;
  width: 30%;
  margin-left: 5vw;
  font-size: 20px;
  font-family: sans-serif;
}
/* Fim */
/* paragrafo quem somos */
#paragrafo-quem-somos {
  color: #6f8eb3;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  width: 35vw;
  position: relative;
}
/* Fim */
/* assinatura da mensagem quem somos */
#equipe-text {
  color: #475c75;
  font-size: 13px;
  font-weight: bold;
}
/* fIM */

/* segunda imagem telefone */

#segunda-img-telefone img {
  position: relative;
  left: 44vw;
  top: -65vh;
  max-width: 710px;
  max-height: 770px;
  width: auto;
  height: auto;
  border-radius: 60px;
}
/* Fim */

/* terceira parte */
#part-3 {
  position: relative;
  top: 100vh;
  left: -34.66vw;
  height: 100%;
  min-width: 100%;
  display: flex;
  background: linear-gradient(to bottom, white 95%, #ffd95a 0%);
}
/* Fim */

/* Classe que contém todos os cards na parte 3 */
.div-elementos {
  border: 1px solid rgb(99, 91, 91);
  display: flex;
  width: 550px;
  padding: 25px;
  margin: 20px;
  border-radius: 20px;
  margin-left: 60px;
  height: 200px;
  background-color: white;
}
/* Fim */
/* Classe que contém h2 e paragrafo na 3 parte */
.texto {
  width: 300px;
  margin-left: 40px;
  padding: 5px;
}
/* Fim */
/* classe imagem 3 parte */
.imagem {
  margin-left: 30px;
  background-color: #fff9ee;
  padding: 20px;
  border-radius: 20px;
}
/* Fim */
/* Card parte 3*/
.div-elementos .texto p {
  color: #6f8eb3;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15px;
  width: 300px;
}
/* Fim */
/* Título h2 da 3 parte */
#div-right{
    position: relative;
    left: 15px;
    width: 700px;
    margin-top: 300px;
}
/* Fim */
/* Título h3 da 3 parte*/
#titulo-beneficios h2 , #titulo-beneficios h3{
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    font-size: 45px;
    text-align: center;
    color:#405464;
}
/* Fim */
/* Texto h2 da parte 3 */
.texto h2{
  font-family: "Inter", sans-serif;
  font-size: 18px;
}
/* Fim */
/* Paragrafo da parte 3  */
#paragrafo-beneficios{
  position: relative;
  width: 450px;
  margin: auto;
  color: #6f8eb3;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
/* Fim */
/* Estilização do paragrafo*/
#paragrafo-beneficios p{
  padding: 5px;
  margin: 5px 0px;
  text-align: center;
}
/* Fim */

/* fim titulo h2 3 parte */
/* titulo h3 parte 3 */
#titulo-beneficios h3{
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    font-size: 45px;
    text-align: center;
    font-weight: 300;

}
/* Fim */

/* parte 4 */
/* Div que contem todos os elementos da parte 4*/
.divzona{
  display: flex;
  background-color: #ffd95a;
  height: 135vh;
  width: 100vw;
  position: relative;
  margin-top: 63vh;

} /* Fim */

/* Título do card da parte 4 */
.texto{
  padding: 5px;
  width:350px;
  margin-left:40px;
}
/* Fim */
/* Estilização do paragrafo*/
.texto p{
  color:#6f8eb3;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 15px;
  width: 300px;

}
/* Fim */
/* Títilo da parte 4*/
#sobre-o-app{
  width: 60vw;
  margin-left: -90vh;
  margin-top: 40vh;
  display: flex;
  flex-direction: column;
}
/* Fim */
/* Estilização do paragrafo parte 4*/
#p-sobre{
  font-size: 17px;
}
/* Fim */
/* classe do h1*/
.sobre{
  font-family: sans-serif;
  margin-top: 15vh;
  font-size: 45px;
  font-weight: bolder;
  color: #475c75;
  text-align: center;
  z-index: 1;
 
}
/* Fim */
/*Primeira imagem da parte 4(play store) */

#imag1{
  width: 17vw;
  margin-top: 10vh;
  margin-left: 14vh;
  
}
/* Fim */
/*Segunda imagem da parte 4(apple store) */
#imag2{
  width: 17vw;
  margin-top: 15vh;
  margin-left: 0.5vh;

}
/* Fim */
/* Download comporta as imagens */

#download{
  position: relative;
  left: 90px;
}
/* Fim */
/* Imagem do celular d aparte 4 */

#imagcelular{
  float: right;
  margin-left: 60px;
  margin-top: 80px;
  height: 692px;
  border-radius: 40px;
}
/* Fim */
/* Estilização da imagem do celular */
#imagcelular1{
  width:25vw;
 
}
/* Fim */
/* fim parte 4 */
/* Início quinta parte */
#part-5{
  background-image: url(https://lh3.googleusercontent.com/GVo8y4BJkhxgR62ZfuCj74MCAsn6U6LnBuHi6r1dv1BnRYrswY_fcKTpXQhKnV0yMv-etqarUpSRXAfGV3MM-cSBEr6GDjKmwsNFv2yML1zVzQNb54BzqqARCr95FXGFV3XHPiQU9u_MZJNjkhHwauTZLk7R5o0p2oxPLU8VLrqKMcj-kIc4sonD4UEoiz02Ic8DuKr4vz5DHXMaCugqULBV5NsbDrOJfxLqrhYi3mHpuqj4DoyECcKyyN2_hjkALgMz9kxfeQ76PRI-_GokPY9oZVGY-WHMp_BK8Yy-FShx8EanXwcfuNaB8zPQl601aWGvvlGTtnMTtYYF1qxo_yC80iRGqfTebKCvPF8QFldZqz6UkaMOaoPAQHVXcwajG1XKIA1OfbjZ9t0z1ICgS05y5aHqSAxmudNUeMgiUGWQWgjVMqgN70S3Jda0DSdjIaJuZsaJXript91WkuQrA6Oy908B5IyxHkZJr4wipPgsouZTt4RXM7jn6cpPSvgnBRl095Pep8hYAcwoNF4f-dRCuiHA2F-r72BCp-nIH_A-_gcBgV3v9bwrgp1S_TIFmtl3k2WGRI51_5EOX9MFJL-G9CCHpfI6-Uo9dm1cI0VD45ivQLrF0Xxywl27KKrfcyXVUuethiCJ-A3bahbSvGd_2tUZepiqup-qkApa1g2DoH2n3tQO02iph0vqMEIb7bu3iSw4txoTF96MSXXNAszcHhwx1SN4GE0ougfUTmFyitV4z0z5ILhLHksOag=w1366-h616-no?authuser=0);
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* fim */

/* div organizadora */
#organizadora{
  position: relative;
  top: -50px;

}
/* Fim */
/* Estilização do h2 */
#organizadora h2{
  font-size: 45px;
}
/* fim */
/* Estilização do id paragrafo do contato */
#paragrafo-contato{
  width: 1000px;
}
/* fim */
/* Estilização do paragrafo*/
#paragrafo-contato .paragrafo-sub{
  font-size: 18px;
}
/* fim */
/* Formulario que contem os inputs */
form{
  display: flex;
  flex-direction: column;
  
}
/* fim */
/* Estilização dos inputs e textarea */
input, textarea{
  width: 300px;
  padding: 15px 20px 15px 10px;
  margin-top: 10px;
  border: 1px solid rgba(128, 128, 128, 0.644);
  border-radius: 5px;
}
/* fim */
/* Estilização do primeiro input */
#nome{
  margin-top: -60px;
}
/* fim */
/* estilização do primeiro input (observação)*/
#descricao{
  
  height: 150px;
  margin-bottom: 15px;
}
/* fim */
/* Estilização do botão */
#btn-sub{
  width: 300px;
  height: 38px;
  font-size: 16px;
  background-color: #c99b02;
  border: #a4abb3;
  color: #ffffff;
  border-radius: 5px;
}
/* fim */
/* Fim quinta parte */

/* Início da sexta parte */
/* Footer */

footer {
  position: relative;
  top: 100%;
  width: 100%;
  height: 59vh;
  color: white;
  background-color: #405464;
}
/* fim */
/* Estilização da lista */
footer a {
  color: white;
  text-decoration:underline;
  padding: -50px;
}
/* fim */
/* Imagem do logo */
#logo-footer {
  width: 200px;
}
/* fim */
/* classe dos itens */
.itens-estudante {
  margin: 14px;
}
/* fim */
/* Lista ordenada */
ul {
  font-size: 17px;
  font-weight: 500;
  margin: 20px;
  margin-left: 60px;
}
/* fim */
/* Estilização do h2*/
.sub-nav {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  left: 3vw;
  position: relative;
  font-weight: 800;
}
/* fim */
/* Estilização da lista*/
footer li {
  margin: 15px 0px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 17px;
}
/* fim */
/* estilização do logo */
#footer-div {
  display: flex;
  justify-content: space-around;
  margin-top: -100vh;
  height: 350px;
  left: 20px;
  position: relative;
  width: 95vw;
  align-items: center;

}
/* fim */
/* Estilização da lista */
#parcerias{
  margin-top: 30px;
}
/* fim */
/* estilização do logo */
#footer-div-logo {
  margin-top: 5.5%;
}
/* fim */
/* Estilização do h2 */
#perg-fre {
  margin: auto 0px auto 0px;
  margin-top: 60px;
  font-family: "Inter", sans-serif;
  text-decoration: underline;
}
/* fim */
/* Estilização do segundo h2 */
#nos-encontre{
  font-family: "Inter", sans-serif;
  font-size: 11px;
  position: relative;
  top: -40px;
  left: 20px;
}
/* fim */
/* estilização da lista */
.itens-icon{
  width: 150px;
}
/* fim */
/* classe dos icones*/
.icones{
  margin: 5px;
}
/* fim */
/* fim da parte sexta parte*/